body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #9DC8C8;
    color: #060d0d;
    margin: 20px;
    line-height: 1.6;
}

h1, h2 {
    color: #519D9E;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

form {
    background: #519D9E;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 95%;
    padding: 15px;
    margin: 10px 0;
    border: 5px solid #ddd;
    border-radius: 5px;
}

button {
    display: inline-block;
    background: #D1B6E1;
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

#email-list, #email-parse, #email-analyze {
    margin-top: 20px;
}

.email-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.email-item:hover {
    background: #f9f9f9;
}

.custom-font {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.mail-box-background {
    background-color: #f9f9f9; /* Light gray background color */
    border: 1px solid #ddd; /* Light border color */
    padding: 15px; /* Space inside the box */
    margin: 10px 0; /* Space outside the box */
    border-radius: 5px; /* Rounded corners */
}





